url-latency-benchmark=自动选择, server-tag-regex=.*, check-interval=600, tolerance=0, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Airport.png
url-latency-benchmark=香港节点, server-tag-regex=(?=.*(港|HK|(?i)Hong))^((?!(台|日|韩|新|美)).)*$, check-interval=900, tolerance=0, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Hong_Kong.png
url-latency-benchmark=台湾节点, server-tag-regex=(?=.*(台|TW|(?i)Taiwan))^((?!(港|日|韩|新|美)).)*$, check-interval=900, tolerance=0, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Taiwan.png
url-latency-benchmark=狮城节点, server-tag-regex=(?=.*(新|SG|(?i)Singapore))^((?!(港|台|日|韩|美)).)*$, check-interval=900, tolerance=0, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Singapore.png
url-latency-benchmark=美国节点, server-tag-regex=(?=.*(美|US|USA|(?i)United States))^((?!(港|台|日|韩|新)).)*$, check-interval=900, tolerance=0, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/United_States.png
url-latency-benchmark=亚洲节点, server-tag-regex=(?=.*(日|JP|韩|KR|马|MY|菲|PH|越|VN|柬|KH|印|IN|尼|ID|巴|PK|哈|KZ|土|TR|联酋|AE|(?i)Japan|Korea|Malaysia|Philippines|Vietnam|Cambodia|India|Indonesia|Pakistan|Kazakhstan|Turkey|UAE))^((?!(港|新|台|美)).)*$, check-interval=900, tolerance=0, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Asia_Map.png
url-latency-benchmark=欧洲节点, server-tag-regex=(?=.*(俄|RU|罗|RO|芬|FI|丹|DK|波|PL|瑞|SE|挪|NO|德|DE|荷|NL|法|FR|英|UK|意|IT|西|ES|瑞士|CH))^((?!(港|新|台|美|日|韩|亚洲)).)*$, check-interval=900, tolerance=0, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Europe.png
url-latency-benchmark=其他节点, server-tag-regex=^((?!(港|新|台|美|日|韩|亚洲|欧洲)).)*$, check-interval=900, tolerance=0, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Rocket.png
