static=人工智能, 狮城节点, 美国节点, 欧洲节点, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Bot.png
static=微软服务, 狮城节点, 美国节点, 欧洲节点, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Microsoft.png
static=苹果服务, 自动选择, 香港节点, 台湾节点, 狮城节点, 亚洲节点, direct, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Apple.png
static=谷歌服务, 自动选择, 香港节点, 台湾节点, 狮城节点, 美国节点, 亚洲节点, 欧洲节点, 其他节点, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Google.png
static=社交媒体, 自动选择, 香港节点, 台湾节点, 狮城节点, 美国节点, 亚洲节点, 欧洲节点, 其他节点, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Social_Media.png
static=全球加速, 自动选择, 香港节点, 台湾节点, 狮城节点, 美国节点, 亚洲节点, 欧洲节点, 其他节点, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Global.png
static=本地直连, direct, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/World_Map.png
static=广告拦截, reject, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Advertising.png